# Nix
result

# Tangle script from README.org
shell/scripts/workstation-recovery.sh

# nvfetcher
packages/sources/_sources/.shake*
packages/sources/_sources/hlissner-hey*

# Emacs
custom.el
flycheck_config.el

# Local files
*.local

# CI
.terraform/
*.tfvars
*.tfstate*

/.composer/
/.direnv
/secrets/dotfield-readme-update-access-token.txt
